.item-box {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;

  margin-top: 5rem;
  margin-bottom: 4rem;
}

.item-left {
  width: 50%;
  margin-right: 4rem;
}

.item-right {
  width: 40%;
}

.item-left img {
  width: 90%;
}

.item-right h1 {
  font-size: 2rem;
  font-weight: 600;

  margin-bottom: 3rem;
}

.item-right h2 {
  color: #818181;
  font-size: 1.2rem;
  font-weight: 700;

  margin-bottom: 2rem;
}

.item-right h3 {
  font-size: 0.9rem;

  margin-bottom: 3rem;
}

.item-right h3 span {
  font-weight: 700;
}

.item-btn {
  margin-top: 2rem;

  padding: 1rem 1.5rem;
}

.border {
  width: 90%;
  height: 1px;
  background: #818181;

  margin: 3rem auto;
}

.item-description {
  width: 90%;
  margin: auto;
}

.item-quantity {
  display: flex;
}

.quantity-btn,
.amount {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border: 1px solid #000;
}

.quantity-btn,
.amount {
  text-align: center;
}

.quantity-btn span {
  font-size: 1.2rem;
}

.plus {
  border-right: none;
  cursor: pointer;
}

.minus {
  border-left: none;
  cursor: pointer;
}

.item-border {
  width: 100%;
  height: 1px;
  background: #818181;

  margin: 2rem auto;
}

.total-amount,
.total-price {
  width: 100%;
  height: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.total-amount h3,
.total-price h3 {
  font-weight: 600;
}

@media screen and (max-width: 650px) {
  .item-box {
    display: block;
    width: 100%;

    .item-left {
      width: 80%;
      margin: auto;
      margin-bottom: 2rem;

      img {
        width: 100%;
      }
    }

    .item-right {
      width: 80%;
      margin: auto;
    }
  }
}
