$main-color: #e97879;

.modal-bg {
  position: fixed;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.modal-box {
  position: fixed;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 80%;
  width: 30rem;
  height: 50%;
  padding: 16px;
  background: #fff;
  border-radius: 10px;

  padding: 4rem 0 2rem 0;

  text-align: center;
}

.modal-smallbox {
  width: 100%;
  height: 80%;
  padding: 3rem 0rem;

  background: #fff;

  margin-bottom: 2rem;
}

.modal-partner__name {
  color: $main-color;
  font-size: 1.8rem;
  font-weight: 600;

  margin-bottom: 3rem;
}

.modal-partner__info {
  margin: auto;
  width: 80%;
  text-align: start;
}

.modal-btn {
  padding: 0.5rem 1rem;

  color: $main-color;
  background: #fff;

  font-size: 1.5rem;
  font-weight: 600;

  border-radius: 0.4rem;

  transition: all 0.2s;
}

.modal-btn:hover {
  cursor: pointer;
  color: #fff;
  background: $main-color;
}
