$main-color: #e97879;

.dropdown {
  position: absolute;
  top: 3rem;

  padding: 0.2rem 0.8rem;

  border: 1px $main-color solid;
  background: #fff;

  z-index: 1;
}

.dropdown li:hover {
  color: $main-color;
  cursor: pointer;
}
