@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

$main-color: #e97879;

.container {
  width: 90%;
  max-width: 1540px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}

.nav-left .home {
  font-family: monoton;
  font-size: 2rem;
  color: $main-color;
}

.nav-menu {
  display: flex;
  font-size: 0.95rem;
  font-weight: 500;
}

.nav-menu li {
  margin-right: 2rem;
}

.nav-right {
  display: flex;
}

.nav-right div {
  margin-right: 2rem;
}
