$main-color: #e97879;

.newitems-box {
  display: flex;
  justify-content: space-evenly;
}

.newitems-item {
  position: relative;
  width: 300px;
}

.newitems-grid {
  display: grid;
}

.newitems-item img {
  width: 100%;
  height: 75%;
}

.newitems-item img,
.newitems-new {
  grid-column: 1/2;
  grid-row: 1/2;
}

.newitems-new {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
  margin-top: 0.5rem;

  font-size: 0.7rem;

  background: $main-color;
  color: #fff;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.newitems-info {
  margin-top: -2rem;
  text-align: center;
}

.newitems-name {
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.newitems-price {
  font-size: 0.9rem;
}
