.other-links {
  margin-top: 6rem;
  display: flex;
  align-items: center;

  .other-link {
    width: 33.333%;
    text-align: center;
  }
}

@media screen and (max-width: 650px) {
  .other-links {
    flex-direction: column;

    .other-link {
      width: 80%;
      margin: auto;
      margin-bottom: 2rem;
    }
  }
}
