.products-box {
  display: flex;
  margin: auto;
  max-width: 1400px;
  flex-wrap: wrap;
  text-align: center;

  padding-top: 3rem;
}

.product-box {
  flex: 1;
  margin-bottom: 3rem;
}

.product-img {
  margin: auto;
  width: 380px;
  height: 270px;

  margin-bottom: 1.5rem;
  overflow: hidden;
  cursor: pointer;
}

.product-img img {
  width: 100%;
  height: 100%;

  transition: 0.3s ease-in-out;
}

.product-img img:hover {
  transform: scale(1.1);
}

.product-name {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.product-price {
  font-size: 0.9rem;
  font-weight: 500;
}

@media screen and (max-width: 420px) {
  .products-box {
    display: block;

    .product-img {
      width: 95%;
    }
  }
}
