@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

$main-color: #e97879;

a {
  text-decoration: none;
  color: inherit;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}

.home {
  text-decoration: none;
  font-family: monoton;
  font-size: 2rem;
  color: $main-color;
}

.home:hover {
  color: #e9787ad7;
}

.nav-menu {
  display: flex;
  font-size: 0.95rem;
  font-weight: 500;
}

.nav-menu {
  .nav-btn {
    position: relative; // For Nav bar effect when hover
    margin-right: 2rem;
  }
}

// For smooth effect of Dropdown
.nav-item {
  height: 1.5rem;
  line-height: 1.5rem;
}

// Nav bar effect
.nav-menu {
  .nav-btn::after {
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 0;
    height: 3px;
    background: $main-color;

    transition: width 0.2s;
  }
}

.nav-menu {
  .nav-btn:hover::after {
    width: 100%;
  }
}

.nav-btn:hover {
  color: $main-color;
  cursor: pointer;
}

.nav-right {
  display: flex;
}

.nav-right {
  div {
    margin-right: 2rem;
  }
}
